<body>
  <div id="app" v-cloak>
    <el-container>
      <el-container>
        <el-header style="padding: 0px;">
          <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="3">
              <img src="../images/favico.png" alt="" style="height: 40px;">
            </el-menu-item>
            <el-submenu index="2" style="float: right;">
              <template slot="title">超级管理员</template>
              <el-menu-item index="2-1">编辑资料</el-menu-item>
              <el-menu-item index="2-2">修改密码</el-menu-item>
              <el-menu-item index="2-3">退出登录</el-menu-item>
            </el-submenu>
          </el-menu>
        </el-header>
        <el-main>
          <h2 id="top1">这是章节目录</h2>
          <ul>
            <li v-for="item in book.chapters"><a href="jacvascript:;" @click="getReadText(item.link)">{{item.title}}</a></li>
          </ul>
          <h2 id="top2">这是分类标签</h2>
          <h1 id="top3">这是女频分类标签</h1>
          <ul>
            <li v-for="item in cats.female"><a href="jacvascript:;" @click="getType(item.name,'female')">{{item.name}}---总共本数：{{item.bookCount}}</a></li>
          </ul>
          <h1 id="top4">这是男频分类标签</h1>
          <ul>
            <li v-for="item in cats.male"><a href="jacvascript:;" @click="getType(item.name,'male')">{{item.name}}---总共本数：{{item.bookCount}}</a></li>
          </ul>
          <h1 id="top5">这是出版分类标签</h1>
          <ul>
            <li v-for="item in cats.press"><a href="jacvascript:;" @click="getType(item.name)">{{item.name}}---总共本数：{{item.bookCount}}</a></li>
          </ul>
          <h1 id="top6">这是我也不知道分类标签</h1>
          <ul>
            <li v-for="item in cats.picture"><a href="jacvascript:;" @click="getType(item.name)">{{item.name}}---总共本数：{{item.bookCount}}</a></li>
          </ul>
        </el-main>
        <el-footer style="background-color:#545c64"></el-footer>
      </el-container>
    </el-container>
    <a href="#top1" style="position:fixed;right:0;bottom:0px">章节目录</a>
    <a href="#top2" style="position:fixed;right:0;bottom:20px">分类标签</a>
    <a href="#top3" style="position:fixed;right:0;bottom:40px">女频分类标签</a>
    <a href="#top4" style="position:fixed;right:0;bottom:60px">男频分类标签</a>
    <a href="#top5" style="position:fixed;right:0;bottom:80px">出版分类标签</a>
    <a href="#top6" style="position:fixed;right:0;bottom:100px">未知分类标签</a>
  </div>
</body>
<%- include ../common/common-js.ejs %>
  <script>
    var vm = new Vue({
      el: '#app',
      data: function() {
        return {
          detail: {},
          bookId: '<%-bookId%>',
          activeIndex2: '',
          book: {},
          cats: {}
        }
      },
      methods: {
        handleSelect: function() {},
        goTop: function(){

        },
        getDetail: function() {
          var self = this;
          var url = '/detail/' + this.bookId;
          this.$http.get(url).then(function(resp) {
            var resp = resp.body;
          });
        },
        getChtper: function() {
          var self = this;
          var url = '/read/' + this.bookId + '/chapter';
          this.$http.get(url).then(function(resp) {
            var data = resp.body;
            data = JSON.parse(data);
            self.book = data.mixToc;
          });
        },
        getReadText: function(chapterUrl) {
          var self = this;
          var url = '/read/chapterUrl' + (chapterUrl.replace('http://book.my716.com/getBooks.aspx?method=content&', '?'));
          // http://book.my716.com/getBooks.aspx?method=content&bookId=1228859&chapterFile=U_1228859_201803081001399585_4670_1.txt

          this.$http.get(url).then(function(resp) {
            var data = resp.body;
            // data = JSON.parse(data);
            // console.log(data);
            // self.book = data.mixToc;
          });
        },
        getSearchWord: function(chapterUrl) {
          var self = this;
          var url = '/search/hot-word'
          this.$http.get(url).then(function(resp) {
            var data = resp.body;
            // console.log(data);
          });
        },
        getSearchQuery: function(work) {
          var self = this;
          var url = `/search/query?word=${work}`;
          this.$http.get(url).then(function(resp) {
            var data = resp.body;
            // console.log(data);
          });
        },
        getStatistics: function(work) {
          var self = this;
          var url = `/cats/statistics`;
          this.$http.get(url).then(function(resp) {
            var data = JSON.parse(resp.body);
            self.cats = data;
          });
        },
        getType: function(type, channel, page) {
          var self = this;
          var page = page || 0;
          var channel = channel || 'male';
          var url = `/cats/type?type=${type}&page=${page}&channel=${channel}`;
          this.$http.get(url).then(function(resp) {
            var data = JSON.parse(resp.body);
            // self.cats = data;
          });
        }
      },
      mounted() {
        this.getDetail();
        this.getChtper();
        this.getSearchWord();
        this.getSearchQuery('去');
        this.getStatistics();
      }
    })
  </script>
