<body>
  <div id="app" v-cloak>
    <el-container>
      <el-container>
        <el-header style="padding: 0px;">
          <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="3">
              <img src="../images/favico.png" alt="" style="height: 40px;">
            </el-menu-item>
            <el-submenu index="2" style="float: right;">
              <template slot="title">超级管理员</template>
              <el-menu-item index="2-1">编辑资料</el-menu-item>
              <el-menu-item index="2-2">修改密码</el-menu-item>
              <el-menu-item index="2-3">退出登录</el-menu-item>
            </el-submenu>
          </el-menu>
        </el-header>
        <el-main>
        </el-main>
        <el-footer style="background-color:#545c64"></el-footer>
      </el-container>
    </el-container>

  </div>
</body>
<%- include ../common/common-js.ejs %>
  <script>
    var vm = new Vue({
      el: '#app',
      data: function() {
        return {
          detail: {},
          bookId: '<%-bookId%>',
          activeIndex2: ''
        }
      },
      methods: {
        handleSelect: function() {},
        getDetail: function() {
          var self = this;
          var url = '/detail/' + this.bookId;
          this.$http.get(url).then(function(resp) {
            var resp = resp.body;
            self.detail = JSON.parse(resp);
            console.log(JSON.parse(resp))
          });
        }
      },
      mounted() {
        this.getDetail();
      }
    })
  </script>