<body>
    <div id="app" v-cloak>
        <h1>网站建设中。。。。</h1>
        <el-button @click="visible = true">弹窗</el-button>
        <el-dialog :visible.sync="visible" title="弹窗标题">
            <p>弹窗内容</p>
            <p>弹窗内容</p>
            <p>弹窗内容</p>
            <p>弹窗内容</p>
            <p>弹窗内容</p>
        </el-dialog>
        <el-container>
            <el-container>
                <el-header style="padding: 0px;">
                    <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64"
                        text-color="#fff" active-text-color="#ffd04b">
                        <el-menu-item index="3">
                            <img src="../images/favico.png" alt="" style="height: 40px;">
                        </el-menu-item>
                        <el-submenu index="2" style="float: right;">
                            <template slot="title">超级管理员</template>
                            <el-menu-item index="2-1">编辑资料</el-menu-item>
                            <el-menu-item index="2-2">修改密码</el-menu-item>
                            <el-menu-item index="2-3">退出登录</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-header>
                <el-main>
                    <el-col :span="1">
                        <el-aside>
                            <el-tree :data="treeData" :props="defaultProps" accordion @node-click="handleNodeClick">
                            </el-tree>
                        </el-aside>
                    </el-col>
                    <el-col :span="12" style="margin-left: 200px">
                        <el-breadcrumb separator-class="el-icon-arrow-right">
                            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                            <el-breadcrumb-item>{{ranking.title}}</el-breadcrumb-item>
                        </el-breadcrumb>
                        <el-table ref="multipleTable" :data="ranking.books" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column label="书名" width="150">
                                <template slot-scope="scope">{{ scope.row.title }}</template>
                            </el-table-column>
                            <el-table-column prop="author" label="作者" width="150">
                            </el-table-column>
                            <el-table-column prop="minorCate" label="分类" width="120">
                            </el-table-column>
                            <el-table-column prop="latelyFollower" sortable label="在追人数" width="120">
                            </el-table-column>
                            <el-table-column prop="retentionRatio" sortable label="留存率" width="120">
                            </el-table-column>
                            <el-table-column prop="shortIntro" label="描述（简介？）" show-overflow-tooltip>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-main>
                <el-footer style="background-color:#545c64"></el-footer>
            </el-container>
        </el-container>

    </div>
</body>
<%- include ../common/common-js.ejs %>
    <script>
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: false,
                    treeData: [],
                    tableData3: [],
                    ranking: {},
                    defaultProps: {
                        children: 'childs',
                        label: 'title'
                    },
                    activeIndex2: '1',
                    multipleSelection: []
                }
            },
            methods: {
                getMenu: function () {
                    var self = this;
                    this.$http.get('/getMenu').then(function (resp) {
                        var resp = resp.body;
                        var data = resp.data;
                        // self.treeData = data;
                    });
                },
                handleNodeClick(data) {
                    var self = this;
                    this.getFn(`/getRanking?RankId=${data._id}`, function (resp) {
                        console.log(resp.ranking)
                        self.ranking = resp.ranking;
                    });
                },
                // 表格点击？？？？选中
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                },
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                },
                getFn: function (url, callback) {
                    return this.$http.get(url).then(function (resp) {
                        var data = JSON.parse(resp.body);
                        callback(data);
                    });
                },
                getRanking: function (objUrl) {
                    var self = this;
                    var list = [];
                    var url = objUrl || '/getRanking';
                    this.getFn(url, function (resp) {
                        for (const i in resp) {
                            if (resp[i].length) {
                                list = list.concat(resp[i]);
                            }
                        }
                        self.treeData = list;
                    });
                }
            },
            mounted() {
                this.getMenu();
                this.getRanking();
            }
        })
    </script>