<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title id="title1">
    <%- title %>
  </title>
  <script>
    var title = document.getElementById('title1');
    title.innerHTML = '这是title'
  </script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="app">
    p Welcome to
    <button></button>
    <ul>
      <li v-for="msg in msgs">
        {{ msg.quantity }} {{ msg.name }}
        <span v-if="msg.quantity === 0">
            已售罄
          </span>
      </li>
    </ul>
    <h2>商品总数量：{{totalMsgs}}</h2>
  </div>
</body>
<!-- <script src="https://unpkg.com/vue"></script> -->
<script src="/javascripts/vue.min.js"></script>
<script src="/javascripts/vue-resource.min.js"></script>
<script>
const app = new Vue({
  el: '#app',
  data: {
    msgs: []
  },
  computed: {
    totalMsgs() {
      return this.msgs.reduce((sum, msg) => {
        return sum + msg.quantity
      }, 0)
    }
  },
  created() {
    fetch('https://api.myjson.com/bins/74l63')
      .then(respose => respose.json())
      .then(json => {
        this.msgs = json.products
      })
    console.log('created<<<<<<<<<<<<<<<')
  },
  methods: {
    // open() {
    //   this.$http.get('/open').then((response) => {
    //     console.log('响应成功回调')
    //     // 响应成功回调
    //   }, (response) => {
    //     console.log('响应错误回调')
    //     // 响应错误回调
    //   });
    // }
  },
  mounted() {
    // this.open();
  }
})

</script>

</html>
